* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.background-image {
  background-image: url(./assets/img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

.button-links {
  border: 1px solid #6663E5;
  background: rgb(72, 50, 204, 0.74);
  color: #ffffff;
  width: 15%;
  border-radius: 10px;
}

@media (max-width: 550px) {
  .btn-links {
    display: grid;
  }

  .button-links {
    width: auto;
  }
}

.button-links:hover {
  background: #6663E5;
  color: white;
  transition: 0.5s;
}

.section-sobre {
  background-color: #161616;
  color: white;
  font-weight: 500;
}

.subtitle {
  color: #6663E5;
}

.text-desciption {
  color: #868686;
}

.text-desciption-project {
  color: #868686;
  font-size: 80%;
}

.image-profile {
  max-width: 50%;
}

.section-projetos {
  background-color: #222222;
  color: white;
}

.section-contatos {
  background-color: #161616;
  color: white;
}

.icone-contato p {
  color: #707070;
  font-weight: 300;
  margin: 0;
}

.icone-contato img {
  width: 50px;
  margin-right: 1rem;
}

.icone-contato {
  align-items: center;
  margin-bottom: 1rem;
}

.img-project {
  max-width: 60%;
  height: 125px;
}

.language img {
  max-width: 10%;
}

@media only screen and (min-width: 991px) {
  .div-projetos {
    width: 50%;
  }
}

@media only screen and (min-width: 1200px) {
  .div-projetos {
    width: 33.3%;
  }
}